---
import Chips from "@components/Chips.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";
import LogoEsperia from "../assets/loghi/esperia.png";
import LogoJAC from "../assets/loghi/jac.png";
import LogoODI from "../assets/loghi/odi.svg";
import LogoRB from "../assets/loghi/rb.svg";
import LogoUnibg from "../assets/loghi/unibg.png";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside>
      <div class="space-y-16">
        <!-- Experience -->
        <section class="space-y-6" id="experience">
          <h2 class="animate text-xl font-semibold text-black dark:text-white">
            Experience 👷🏻‍♂️
          </h2>
          <div class="animate">
            <!-- Freelance -->
            <div class="relative flex pb-12">
              <div
                class="absolute inset-0 flex h-full w-14 items-center justify-center"
              >
                <div class="pointer-events-none h-full w-1 bg-neutral-200">
                </div>
              </div>

              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="h-12 w-12 object-contain p-2"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                    fill="hsl(var(--pc))"></path>
                </svg>
              </div>

              <div class="flex-grow pl-4">
                <h2 class="font-bold">Freelance Software Engineer</h2>
                <p class="mb-2 text-sm">2020 ÷ present | Freelance</p>
                <ul class="list-disc pl-4">
                  <li>Development of websites, web, desktop and mobile apps</li>
                  <li>IT consulting and Startup Technology Advisor</li>
                  <li>Computer Science teacher</li>
                  <li>Software maintenance</li>
                </ul>
              </div>
            </div>

            <!-- ReactBricks -->
            <div class="relative flex pb-12">
              <div
                class="absolute inset-0 flex h-full w-14 items-center justify-center"
              >
                <div class="pointer-events-none h-full w-1 bg-neutral-200">
                </div>
              </div>
              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <img src={LogoRB.src} class="h-12 w-12 object-contain p-2" />
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-bold">
                  Web Developer @ <Link
                    href="https://reactbricks.com"
                    external
                    underline={false}>ReactBricks</Link
                  >
                </h2>
                <p class="mb-2 text-sm">
                  November 2022 ÷ September 2024 | Bergamo, Italy
                </p>
                <ul class="list-disc pl-4">
                  <li>
                    Web-app development using React, Tailwind, Node.js and
                    Django
                  </li>
                </ul>
              </div>
            </div>

            <!-- JAC -->
            <div class="relative flex pb-12">
              <div
                class="absolute inset-0 flex h-full w-14 items-center justify-center"
              >
                <div class="pointer-events-none h-full w-1 bg-neutral-200">
                </div>
              </div>
              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <img
                  src={LogoJAC.src}
                  class="h-12 w-12 rounded-full object-contain object-top p-1"
                />
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-bold">
                  Computer Science Teacher @ <Link
                    href="https://jac-its.it"
                    external
                    underline={false}
                  >
                    JobsAcademy</Link
                  >
                </h2>
                <p class="mb-2 text-sm">
                  March 2023 ÷ October 2023 | Bergamo, Italy
                </p>
                <ul class="list-disc pl-4">
                  <li>Teaching web programming using React</li>
                </ul>
              </div>
            </div>

            <!-- Officine Digitali Italiane -->
            <div class="relative flex">
              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <img src={LogoODI.src} class="h-12 w-12 object-contain p-2" />
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-bold">
                  Web Developer @ <Link
                    href="https://officinedigitaliitaliane.it"
                    external
                    underline={false}>Officine Digitali Italiane</Link
                  >
                </h2>
                <p class="mb-2 text-sm">
                  December 2020 ÷ July 2022 | Bergamo, Italy
                </p>
                <ul class="list-disc pl-4">
                  <li>
                    Development and maintenance of websites via Wordpress and
                    Shopify
                  </li>
                  <li>
                    Custom project development via HTML, CSS and JS (with JQuery
                    and Bootstrap)
                  </li>
                  <li>Web-App development using Angular</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Education -->
        <section class="space-y-6" id="education">
          <h2 class="animate text-xl font-semibold text-black dark:text-white">
            Education 📚
          </h2>
          <div class="animate">
            <!-- BSc UniBg -->
            <div class="relative flex pb-12">
              <div
                class="absolute inset-0 flex h-full w-14 items-center justify-center"
              >
                <div class="pointer-events-none h-full w-1 bg-neutral-200">
                </div>
              </div>

              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <img
                  src={LogoUnibg.src}
                  class="h-12 w-12 rounded-full object-contain p-1"
                />
              </div>

              <div class="flex-grow pl-4">
                <h2 class="font-bold">
                  Computer Engineering @ <Link
                    href="https://www.unibg.it"
                    external
                    underline={false}>University of Bergamo</Link
                  >
                </h2>
                <p class="mb-2 text-sm">Bs.C: present | Bergamo, Italy</p>
                <p>Thesis: In progress...✏️</p>
              </div>
            </div>

            <!-- Esperia -->
            <div class="relative flex">
              <div
                class="relative z-10 inline-flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-full border border-neutral-300 bg-neutral-100"
              >
                <img
                  src={LogoEsperia.src}
                  class="h-12 w-12 object-contain p-1"
                />
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-bold">
                  Computer Science @ <Link
                    href="https://www.itispaleocapa.edu.it"
                    external
                    underline={false}>I.T.I.S. P. Paleocapa</Link
                  >
                </h2>
                <p class="mb-2 text-sm">High School: 2020 | Bergamo, Italy</p>
                <p>
                  Final project: Real estate Archive 🏠
                  <br />
                  A web platform concept to merge together all of a real estate's
                  data, reducing bureaucracy and making the job easier for technicians.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Skills -->
        <section class="space-y-6" id="skills">
          <h2 class="animate text-xl font-semibold text-black dark:text-white">
            Skills 🏋🏻‍♂️
          </h2>
          <div class="animate">
            <div class="mb-5">
              <p>Software development</p>
              <div class="mt-2 flex flex-wrap gap-3">
                <Chips text="React" />
                <Chips text="Tailwind" />
                <Chips text="NodeJS" />
                <Chips text="Python" />
                <Chips text="C/C++" />
                <Chips text="LLM" />
                <Chips text="Git" />
                <Chips text="SQL" />
                <Chips text="Wordpress" />
                <Chips text="Shopify" />
              </div>
            </div>

            <div>
              <p>Problem solving</p>
              <div class="mt-2 flex flex-wrap gap-3">
                <Chips text="Client projects" />
                <Chips text="CTF" />
                <Chips text="CS competitions" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
