---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArrowCardProject from "@components/ArrowCardProject.astro";
import Testimonial from "@components/Testimonial.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate text-2xl font-semibold text-black dark:text-white">
        <span class="flex gap-3">
          Hi there, I'm Paolo Zanotti
          <img src="/Hi_long.gif" class="h-7 w-7" alt="hand animation" />
        </span>
      </h1>
      <div class="space-y-16">
        <!-- hero -->
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                My name is Paolo and I'm a computer engineering student at UniBg
                and a software engineer from Bergamo, Italy. 🇮🇹
                <br />I like to write code, play CTF challenges and read books.
                I'm very into computer science, renewable energy and biomedical
                engineering (and generally the whole engineering world). I'm
                always looking for something new to learn! 👀
              </p>
              <p>
                Right now I'm working as a freelance software engineer. 👨🏻‍💻
                <br />
                Want to know more? Look at my projects below and contact me! 💬
              </p>
            </span>
          </article>
        </section>

        <!-- projects -->
        <section class="animate space-y-6" id="projects">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="text-xl font-semibold text-black dark:text-white">
              Recent projects 💻
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose grid grid-cols-1 gap-4">
            {
              projects.map((project) => (
                <li class="flex">
                  <ArrowCardProject entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- Services -->
        <section class="animate space-y-6" id="services">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Services offered 🎯
          </h2>
          <div>
            <ul class="ml-6 list-disc">
              <li class="mb-2">
                <p class="font-semibold">Software development</p>
                <p>
                  My main skill is software development, especially for the Web
                  [...]
                </p>
              </li>
              <li class="mb-2">
                <p class="font-semibold">Software maintenance</p>
                <p>Keep updating your software [...]</p>
              </li>
              <li class="mb-2">
                <p class="font-semibold">IT consulting</p>
                <p>
                  I can offer professional consulting to improve use of ICT in
                  your daily work such as adopting new tools, improving security
                  and refactoring code.
                </p>
              </li>
            </ul>
          </div>
        </section>

        <!-- testimonials -->
        <section class="animate space-y-6" id="testimonials">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Testimonials ⭐️
          </h2>
          <div>
            <div id="testimonial-1">
              <Testimonial
                description={`Paolo è una persona responsabile, capace e corretta. Come
                sviluppatore lavora bene in team e ha ottime doti di problem
                solving. Riesce inoltre ad approcciare nuove tecnologie con
                facilità. Durante il periodo in cui abbiamo collaborato, ha
                dimostrato di sapersi destreggiare nello sviluppo web
                (html/css/js) sia su progetti custom che su siti Wordpress o
                Shopify. In particolare è stato in grado di sviluppare anche con
                librerie come jQuery, Bootstrap, Angular e di utilizzare i tool
                tipici per lo sviluppo in team (Git, Trello, Jira).`}
                name="Claudio Suardi"
                job="CTO - Officine Digitali Italiane"
                link="https://www.linkedin.com/in/suardi"
              />
            </div>

            <div id="testimonial-2" class="hidden">
              <Testimonial
                description={`
                    Ho chiesto a Paolo di sviluppare una pagina web per un mio
                    progetto. Si è dimostrato molto capace in web design con
                    javascript/html/css; ma quello che ho apprezzato
                    particolarmente è la sua disponibilità e collaborazione. C'é
                    stato un continuo scambio di feedback e il risultato é
                    esattamente quello che volevo. Inoltre, il progetto aveva
                    qualche richiesta un po' particolare ma Paolo ha dimostrato
                    ottime capacità di problem solving ed è riuscito a propormi
                    più soluzioni. Ti ringrazio!
                  `}
                name="Camilla Mazzoleni"
                job="Client"
                link="https://www.linkedin.com/in/camilla-mazzoleni-3126851b6"
              />
            </div>

            <div class="mt-4 flex justify-center gap-4">
              <button
                id="btn-1"
                class="flex h-3 w-3 items-center justify-center rounded-full border border-black/35 bg-gray-400 text-xs text-black/35 transition-colors duration-300 hover:bg-gray-400 dark:border-white dark:bg-white dark:text-black dark:hover:bg-white"
              ></button>
              <button
                id="btn-2"
                class="flex h-3 w-3 items-center justify-center rounded-full border border-black/35 text-xs text-black/35 transition-colors duration-300 hover:bg-gray-400 dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-black"
              ></button>
            </div>
          </div>
        </section>

        <!-- posts -->
        <section class="animate space-y-6" id="posts">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="text-xl font-semibold text-black dark:text-white">
              Latest posts 💬
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} showYear={true} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- get in touch -->
        <section class="animate space-y-4" id="contact">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Get in touch ✏️
          </h2>
          <article>
            <p>
              If you want to get in touch to talk about a project, write me an
              email at <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link> or reach out on social media list below in the footer.
            </p>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
