---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArrowCardProject from "@components/ArrowCardProject.astro";
import Testimonial from "@components/Testimonial.astro";
import HiGif from "../assets/Hi_long.gif";
import Slider from "@components/Slider.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  // .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        <span class="flex gap-3">
          <h1>Hi there, I'm Paolo Zanotti</h1>
          <img src={HiGif.src} class="h-7 w-7" alt="hand animation" />
        </span>
      </div>
      <div class="space-y-16">
        <!-- hero -->
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                My name is Paolo and I'm a software engineer from Bergamo,
                Italy. 🇮🇹
                <br />I like to write code, play CTF challenges and read books.
                I'm very into computer science, renewable energy and biomedical
                engineering (and generally the whole engineering world). I'm
                always looking for something new to learn! 👀
              </p>
              <p>
                Right now I'm working as a freelance software engineer. 👨🏻‍💻
                <br />
                Want to know more? Look at my projects below and contact me! 💬
              </p>
            </span>
          </article>
        </section>

        <!-- projects -->
        <section class="animate space-y-6" id="projects" data-pagefind-ignore>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="text-xl font-semibold text-black dark:text-white">
              Recent projects 💻
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose grid grid-cols-1 gap-4">
            {
              projects.map((project) => (
                <li class="flex">
                  <ArrowCardProject entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- services -->
        <section class="animate space-y-6" id="services">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Services offered 🎯
          </h2>
          <div>
            <ul class="ml-4 list-disc">
              <li class="mb-3">
                <p class="font-semibold">Software development</p>
                <p>
                  Crafting custom software solutions tailored to your specific
                  business needs and challenges. From web and mobile
                  applications to enterprise systems, I deliver high-quality,
                  scalable, and user-friendly software that drives efficiency
                  and innovation
                </p>
              </li>
              <li class="mb-3">
                <p class="font-semibold">
                  IT consulting and Startup Technology Advisor
                </p>
                <p>
                  Expert guidance on technology strategy and digital
                  transformation for businesses and private clients. I help
                  leverage cutting-edge tech to optimize operations and achieve
                  personal or professional tech goals.
                </p>

                <p class="mt-2">
                  ❗️ Specialized support for startups from ideation to scale. I
                  offer MVP development and strategic tech guidance to help turn
                  innovative ideas into viable products.
                </p>
              </li>
              <li class="mb-3">
                <p class="font-semibold">Software maintenance</p>
                <p>
                  Keeping your software robust and up-to-date through regular
                  updates and optimizations. I implement new features to meet
                  evolving business needs.
                </p>
              </li>
            </ul>
          </div>
        </section>

        <!-- testimonials -->
        <section class="animate space-y-6" id="testimonials">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Testimonials ⭐️
          </h2>

          <Slider qta="2">
            <div class="element-1">
              <Testimonial
                description={`Paolo è una persona responsabile, capace e corretta. Come
                sviluppatore lavora bene in team e ha ottime doti di problem
                solving. Riesce inoltre ad approcciare nuove tecnologie con
                facilità. Durante il periodo in cui abbiamo collaborato, ha
                dimostrato di sapersi destreggiare nello sviluppo web
                (html/css/js) sia su progetti custom che su siti Wordpress o
                Shopify. In particolare è stato in grado di sviluppare anche con
                librerie come jQuery, Bootstrap, Angular e di utilizzare i tool
                tipici per lo sviluppo in team (Git, Trello, Jira)."`}
                name="Claudio Suardi"
                job="CTO - Officine Digitali Italiane"
                link="https://www.linkedin.com/in/suardi"
              />
            </div>

            <div class="element-2 hidden">
              <Testimonial
                description={`
                    Ho chiesto a Paolo di sviluppare una pagina web per un mio
                    progetto. Si è dimostrato molto capace in web design con
                    javascript/html/css; ma quello che ho apprezzato
                    particolarmente è la sua disponibilità e collaborazione. C'é
                    stato un continuo scambio di feedback e il risultato é
                    esattamente quello che volevo. Inoltre, il progetto aveva
                    qualche richiesta un po' particolare ma Paolo ha dimostrato
                    ottime capacità di problem solving ed è riuscito a propormi
                    più soluzioni. Ti ringrazio!"
                  `}
                name="Camilla Mazzoleni"
                job="Client"
                link="https://www.linkedin.com/in/camilla-mazzoleni-3126851b6"
              />
            </div>
          </Slider>
        </section>

        <!-- posts -->
        <section class="animate space-y-6" id="posts" data-pagefind-ignore>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="text-xl font-semibold text-black dark:text-white">
              Latest posts 💬
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} showYear={true} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- get in touch -->
        <section class="animate space-y-4" id="contact">
          <h2 class="text-xl font-semibold text-black dark:text-white">
            Get in touch ✏️
          </h2>
          <article>
            <p>
              If you want to get in touch to talk about a project, write me an
              email at <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link> or reach out on social media list below in the footer.
            </p>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
