---
import type { CollectionEntry } from "astro:content";
import Chips from "./Chips.astro";

type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"projects">;
};
---

<a
  href={entry.data.demoURL ?? `/${entry.collection}/${entry.slug}`}
  target="_blank"
  rel="noopener noreferrer"
  class="not-prose group relative flex w-full flex-nowrap rounded-lg border border-black/15 px-4 py-3 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
  <div class="flex flex-1 flex-col gap-4 sm:flex-row">
    <img
      src={entry.data.imgURL}
      class="mx-auto aspect-video rounded-md object-cover sm:w-48"
    />
    <div>
      <div class="font-semibold">
        {entry.data.title}
      </div>
      <div class="text-sm">
        {entry.data.description}
      </div>
      <!-- <div class="mt-3 text-sm">
        {entry.data.stack}
      </div> -->
      <div class="mt-3 flex flex-wrap gap-2 text-sm">
        {
          entry.data.stack?.split("•").map((item) => {
            return <Chips text={item} size="small" />;
          })
        }
      </div>
    </div>
  </div>
</a>
